body {
    background-color: blueviolet;
    max-width: 500px;
    margin: 0 auto;
}

title {
    font: bold 50px "Arial", sans-serif
}

html {
    font-family: "Avenir Next", Helvetica, sans-serif; 
    text-align: center;
}
    
input {
    padding-top: 30px;
    top: 5px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}
input:focus{
    outline: none;
}

li {
    text-align: left;
    font-size: 40px;
    list-style: none; margin: 0;
}

footer {
    bottom: 0px;
    border: solid 5px black;
    position:fixed;
    max-width: 100%
}

p{
    padding: 0px;
    margin: 0 auto;
}